*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.bg-blur {
    background: transparent rgba(219, 217, 217, 0.76);
    backdrop-filter: blur(10px);

  }
.header{
    padding:20px;
    display:flex;
    justify-content:space-between;
    font-size:20px;
}
.navbar-brand{
    height:15vh;
    width:80px;
    margin:0 0 -20px 30px;
}
@media (width<=600px){
    .navbar-brand{
        height:7.5vh;
        width:40px;
        margin:0 0 -10px 15px;
    }
    .carousel-item p{
        font-size:15px;
        font-weight:250;
    }
}
.nav-item .nav-link{
    font-size:18px;
    font-weight:500;
    color:white;
}
.carousel-item img{
    height:98%;
    object-fit:content;
}
.carousel-item{
    object-fit:cover;
    opacity:1 black;
    font-size:20px;
    font-weight:500;
}
.carousel-item p{
    font-size:30px;
    font-weight:500;
}
.card{
    border:1px solid #ddd7d7 !important;
}
.fast{
    height:40vh;
    object-fit:cover;
}
.footer{
    background-color: #24262b;
    padding: 70px 0px;
}
.container{
    max-width: 1170px;
    margin: auto;
}
ul{
    list-style: none;
}
.frow{
    display: flex;
    flex-wrap: wrap;
}
.fcol{
    width: 25%;
    padding: 0 px 15px;
}
.fcol h4{
    font-size: 18px;
    color: #ffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.fcol h4::before{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    width: 50px;
    box-sizing: border-box;
    opacity: 2;
}
.fcol ul li:not(:last-child){
    margin-bottom: 10px;
}
.fcol ul li a{
    font-size: 17px;
    font-weight:500;
    text-transform: capitalize;
    color: #ffff;
    text-decoration: none;
    text-decoration: none;
    color: #bbbb;
    display: block;
    transition: all 0.3s ease;
}
.fcol ul li a:hover{
    color: #ffff;

    padding-left: 15px;
}
.fcol .social-link a{
    display: inline-block;
    height: 40px;
    width: 40px;
    font-weight:500;
    margin: 0px 10px 10px 0px;
    text-align: center;
    line-height: 40px;
    font-size:large;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.3s ease;
}
.fcol .social-link a:hover{
    color: #24262b;
    background-color: #ffffff;
}
